* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(18, 13, 30, 1);
  color: white;
}

.container_principal {
  margin-top: 24px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_pesquisa {
    
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input{
    width: 500px;
    height: 26px;
    border-radius: 6px;
    background-color: rgba(32, 43, 61, 1);
    border: none;
}

button{
    height: 26px;
    width: 64px;
    border: solid 2px white;
    border-radius: 6px;
}

.container_cards{
    display: grid;
    grid-template-columns: 1fr 150px;
    width: 570px;
    padding: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* separa topo e base */
  height: 100%;
  gap: 24px;
}

/* textos da parte de cima */
.linha-cima {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* textos da parte de baixo */
.linha-baixo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
